image:
  repository: teur/api
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1

env:
  TEUR_ENV: ""
  TEUR_ROLE: ""

secrets:
  rootCaKey: ""
  issuerKey: ""
  acquirerKey: ""
  pspKey: ""

service:
  type: ClusterIP
  port: 80

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

networkPolicy:
  enabled: true